/* nav.trade {
    margin-top: -20px
} */
nav> a {
    color: grey;
    font-size: 16px;
}

nav > a:hover {
    color: rgb(57, 57, 255);
}

/* Active tab */
nav > a:active,
nav > a:focus {
    color: blue;
}

#sporeContainer {
    position: relative;
}

#mainCanvas{
    position: absolute;
    background: white;
    width: 100%;
    height: 80vh;
    z-index: 1 !important;
}

#mainCanvas_hidden {
    position: static;
    background: white;
    width: 100%;
    height: 80vh;
    z-index: 1 !important;
}

.relativeZ10{
    position: absolute;
    width: 100%;
    height:80vh;
    z-index: 10 !important;
    
}

.bi-diagram {
    background: none !important;
    box-shadow: none !important;
}

.Overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.4);
}


.exitModal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  /* padding: 1em; */
  min-width: 30em;
  max-width: 100%;
  color: #000;
  /* background-color: #fff; */
  background: transparent;
  /* border-radius: 1em; */
  transform: translate(-50%, -50%);
  outline: transparent;
  z-index: 100 !important;
}

.exit_modal_head {
    background: linear-gradient(90.92deg, #495FCB 0.15%, #556EE6 100%);
    border-radius: 5px 5px 0px 0px;
    font-size: medium;
    color: white;
    padding: 1em;
}

.exit_modal_content {
    background: white;
    width: 100%;
    padding: 1em;
    justify-content: center;
    height: 8em;
}

.exit_modal_content div {
    cursor: pointer;
    float: right;
    margin-top: 1em;
    padding: 0.7em 1em;
    color: white;
    background: #556EE6;
    margin: 0 0.2em;
    border-radius: 5px;
}

.accountModal {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    /* padding: 1em; */
    min-width: 30em;
    max-width: 100%;
    color: #2E3446;
    /* background-color: #fff; */
    background: transparent;
    /* border-radius: 1em; */
    transform: translate(-50%, -50%);
    outline: transparent;
    z-index: 100 !important;
  }
  
  .account_modal_head {
      background: #2E3446;
      border-radius: 5px 5px 0px 0px;
      font-size: medium;
      color: white;
      padding: 1em;
  }
  
  .account_modal_content {
      background: white;
      width: 100%;
      padding: 1em;
      justify-content: center;
      height: 20em;
  }
  
  .account_modal_content div {
      display: flex;
      cursor: pointer;
      justify-content: space-between;
      margin-top: 1em;
      padding: 0.2em 0;
      margin: 0 0.2em;
  }

  .accountNameText {
      width: 100%;
      background: rgb(240, 240, 240);
      padding: 1em;
      border: none;
  }
  
  .linkColor * {
      color:red !important;
      background: red !important;
  }
